<!-- app/views/types/show.html.erb -->
<h2 class="title"><%= @type.name %> Type</h2>

<% weaknesses = @type.weaknesses %>

<% if weaknesses.any? %>
  <strong>Weaknesses:</strong>
  <ul>
    <% weaknesses.each do |weakness| %>
      <li><%= weakness %></li>
    <% end %>
  </ul>
<% else %>
  <p>No known weaknesses for this type.</p>
<% end %>

<div style="margin-top: 0.5in;">
  <%= link_to "Back to Types", types_path %>
</div>