<h2 class="title">Pokémon with <%= @type.name %> Type</h2>

<% if @type.pokemons.any? %>
  <ul>
    <% @type.pokemons.each do |pokemon| %>
      <li>
        <%= link_to pokemon.name, pokemon_path(pokemon) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No Pokémon with this type found.</p>
<% end %>
