<h1><%= @type.name %> Type</h1>

<h2>Pokémon with <%= @type.name %> Type</h2>
<ul>
  <% @type.pokemons.each do |pokemon| %>
    <li>
      <%= link_to pokemon.name, pokemon_path(pokemon) %>
    </li>
  <% end %>
</ul>
