<h1 class="title">Items List</h1>

<div class="columns is-multiline"></div>
  <% @items.each do |item| %>
    <div class="column is-one-third">
      <div class="box">
        <h2 class="subbtitle"><%= link_to item.name.capitalize, item_path(item) %></h2>
      </div>
    </div>
  <% end %>
</div>

<nav class="pagination is-centered" role="navigation">
  <%= will_paginate @items, class: "pagination-list" %>
</nav>
