<h1>About the Pokémon Project</h1>
<p>This is a project to showcase Pokémon, their types, moves, and items.</p>

<h3>Navigation</h3>
<ul>
  <li><a href="/pokemon">Pokémon</a></li>
  <li><a href="/moves">Moves</a></li>
  <li><a href="/items">Items</a></li>
</ul>

<p>
  This websites helps you find Pokemon, moves, and the items.
  It is still a work in progress.
</p>